
h1, h2, h3, h4, h5, h6 {
    font-family: $font-highlight;
}
h1 { 
    font-size: 4rem;

    @include mq( $max-width: $xs ) {
        font-size: 3rem;
    }
}
h2 { 
    font-size: 2.5rem;

    @include mq( $max-width: $xs ) {
        font-size: 2rem;
    }
}
h3 { 
    font-size: 2rem;

    @include mq( $max-width: $xs ) {
        font-size: 1.5rem;
    }
}
p { 
    font-size: 1rem;
}

h4, h5, h6 {
    margin-top: 0.7rem;
    margin-bottom: 1.2rem;
}

.txt-size-6 { font-size: 2.0rem; }
.txt-size-5 { font-size: 1.8rem; }
.txt-size-4 { font-size: 1.5rem; }
.txt-size-3 { font-size: 1.2rem; }
.txt-size-2 { font-size: 1.0rem; }
.txt-size-1 { font-size: 0.8rem; }
.txt-size-0 { font-size: 0.5rem; }

.txt-upper { text-transform: uppercase; }
.txt-lower { text-transform: lowercase; }
.txt-capital { text-transform: capitalize; }

.txt-title,
.txt-subtitle { 
    font-family: $font-highlight;

    @include mq($max-width: $xs) {
        text-align: center;
    }
}

.txt-color-primary { color: $color-primary; }
.txt-color-secondary { color: $color-secondary; }
.txt-color-info { color: $color-info; }
.txt-color-success { color: $color-success; }
.txt-color-warning { color: $color-warning; }
.txt-color-danger { color: $color-danger; }
.txt-color-link { color: $color-link; }

.txt-color-light { color: $color-light; }
.txt-color-muted { color: $color-muted; }
.txt-color-dark { color: $color-dark; }

.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }
.txt-bold { font-weight: bold; }

.txt-font-primary { font-family: $font-primary; }
.txt-font-highlight { font-family: $font-highlight; }
