$marvel-red: #f0141e;
$black: #000;
$white: #FFF;
$gray-light: #eee;
$gray: #929292;


// Colors:

$color-primary: $marvel-red;
$color-secondary: $black;

$color-info: rgb(0, 110, 255);
$color-success: rgb(24, 255, 166);
$color-warning: rgb(255, 230, 0);
$color-danger: rgb(252, 0, 0);
$color-link: #3273dc;

// Fonts:
$font-primary: 'Cabin', sans-serif;
$font-highlight: 'Oswald', sans-serif;

$body-family: $font-primary;
$body-font-size: 16px;