<header>
  <div class="content">
    
    <div *ngIf="!loading" class="flex-bar flex-nowrap mt-2 mb-2">
      <img [src]="heroImage" alt="" class="fl-left img-coin primary">
      <div class="txt-wrapper ml-2">
        <h1 class="txt-title mt-0 mb-1">{{ pageTitle }}</h1>
        <p class="txt-size-3 txt-color-muted">{{ pageDescription }}</p>
      </div>
    </div>
    
  </div>
</header>

<div class="content"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()">

  <div class="row">
    
    <div *ngFor="let comic of comics" class="col ms-12 xs-6 md-4">
      <card-comic [comic]="comic"></card-comic>
    </div>
    
    <div class="col ms12 txt-center">
      <img *ngIf="loading" class="ml-auto mr-auto" src="/assets/images/loading.svg" width="80" alt="Loaging...">
      <a *ngIf="!loading" (click)="getMoreComicByHero()" class="btn success">Load more comics</a>
    </div>

  </div>
</div>
