<header>
  <div class="content">
    <h1 class="txt-title">Marvel Comics</h1>
    <p class="txt-size-3 txt-color-muted">{{ disclaimer }}</p>
  </div>
</header>

<div class="content">
  <div class="row">

    <div *ngFor="let comic of comics" class="col ms-12 xs-6 md-4">
      <card-comic
        [comic]="comic">
      </card-comic>
    </div>

    <div class="col ms12 txt-center" *ngIf="loading">
      <img class="ml-auto mr-auto" src="/assets/images/loading.svg" width="80" alt="Loaging...">
    </div>

    <div class="col ms12 txt-center" *ngIf="!loading">
      <a routerLink="/comics" class="btn success">See more comics</a>
    </div>

  </div>
</div>