<div class="content">
  <h1 class="txt-title">Marvel Comics</h1>
  <p class="txt-lead">Lorem</p>

  <div class="row">
    <div class="col">
      <div class="card card-default">
        <div class="card-cover">
          <img src="" alt="" class="img-full img-block">
        </div>
        <div class="card-content">
          <span class="card-observation">01/01/2025</span>
          <h3 class="card-title">Titulo do Card</h3>
          <p class="card-description">
            Essa é a descrição de um card muito bacana com uma quantidade de texto relevante.
          </p>
          <a href="" class="btn btn-default btn-card">Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-default">
        <div class="card-cover">
          <img src="" alt="" class="img-full img-block">
        </div>
        <div class="card-content">
          <span class="card-observation">01/01/2025</span>
          <h3 class="card-title">Titulo do Card</h3>
          <p class="card-description">
            Essa é a descrição de um card muito bacana com uma quantidade de texto relevante.
          </p>
          <a href="" class="btn btn-default btn-card">Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-default">
        <div class="card-cover">
          <img src="" alt="" class="img-full img-block">
        </div>
        <div class="card-content">
          <span class="card-observation">01/01/2025</span>
          <h3 class="card-title">Titulo do Card</h3>
          <p class="card-description">
            Essa é a descrição de um card muito bacana com uma quantidade de texto relevante.
          </p>
          <a href="" class="btn btn-default btn-card">Detalhes</a>
        </div>
      </div>
    </div>
  </div>

</div>

