.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    @include border-radius($border-radius);

    .card-cover {
        width: 100%;
        height: 180px;
        flex: 1 1 auto;
        background-color: $color-muted;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);

        img {
            object-fit: cover;
        }
    }

    .card-content {
        padding: 1rem;
        flex: 1 1 auto;
    }

    &.default {
        color: $color-primary;
        background-color: $color-muted;
    }
    &.primary {
        color: $color-light;
        background-color: $color-primary;
    }
    &.secondary {
        color: $color-light;
        background-color: $color-secondary;
    }
    &.info {
        color: $color-light;
        background-color: $color-info;
    }
    &.success {
        color: $color-light;
        background-color: $color-success;
    }
    &.warning {
        color: $color-light;
        background-color: $color-warning;
    }
    &.danger {
        color: $color-light;
        background-color: $color-danger;
    }
    &.link {
        color: $color-light;
        background-color: $color-link;
    }
    &.light {
        color: $color-dark;
        background-color: $color-light;
    }
    &.muted {
        color: $color-dark;
        background-color: $color-muted;
    }
    &.dark {
        color: $color-light;
        background-color: $color-dark;
    }
}