.navbar {
    border-bottom: 4px solid darken( $color-light, 5% );

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .content {
        padding: 0.5rem 1rem;
        @include flex-bar();

        li {
            display: flex;

            + li {
                margin-left: 0.5rem;
            }

            &.logo {
                width: 100px;
                padding-right: 1rem;
                border-right: 2px solid darken( $color-light, 5% );

                .nav-link {
                    padding: 0.2rem;
                    @include transition( transform ease-in-out .3s )
                    @include transform( scale(1) );

                    &:hover,
                    &:focus {
                        border-color: transparent;
                        background-color: transparent;

                        @include transform( scale(1.05) );
                    }
                }
            }

            .nav-link {
                font-size: 1rem;
                text-transform: uppercase;
                border: 1px solid transparent;
                @include border-radius(3px);

                &:hover,
                &:focus {
                    border-color: darken( $color-light, 6% );
                    background-color: darken( $color-light, 4% );
                }                
            }

            &.active {
                .nav-link.default {
                    border-color: darken( $color-light, 6% );
                    background-color: darken( $color-light, 4% );
                }
            }
        }
    }
}