.row {
    @include margin-lr(-1rem);
    display: flex;  
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;

    + .row {
        margin-top: 1rem;
    }

    .col {
        flex-basis: 0;
        flex-grow: 1;
        @include padding-lr(1rem);
    }
}

.content {
    max-width: 1200px;
    @include padding-lr(1rem);
    @include margin-center();
}